html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 10px 25px 15px 25px;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;

  .logo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    aspect-ratio: 1 / 1;
    pointer-events: none;
    opacity: 0.1;
  }
}

body:not(:has(div)) {
  .logo {
    display: block;
  }
}

div {
  white-space: wrap;
  word-break: keep-all;
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  line-height: var(--vscode-editor-line-height);
  margin-bottom: 4px;
}

/* Styles */

/* Log */
.log {
  color: var(--vscode-editor-foreground);
}

/* Error */
.error {
  color: var(--vscode-editorError-foreground);
}

/* Warning */
.warning {
  color: var(--vscode-editorWarning-foreground);
}

/* Info */
.info {
  color: var(--vscode-editorInfo-foreground);
}

/* Success */
.success {
  color: var(--vscode-terminal-ansiGreen);
}

/* Step */
.step {
  color: var(--vscode-editorInfo-foreground);

  .number {
    font-weight: bold;
  }
}
